.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.card-img{
    height: 150px;
    width: 150px; 
}

.btn-wish {
    background: #698467;
    color: #edf3f2;
    margin: 5px;
}