/* Base */
html {
    height: 100%;
}

body {
    background-size: cover;
    background: #edf3f2;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.logo-font {
    text-transform: uppercase;
    color: #555;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'cairo', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #edf3f2;
}

.nav-link:active,
.nav-link:hover  {
    font-weight: bold;
    text-decoration: underline;
    color: #edf3f2;
}

.shop-now-button {
    color: #edf3f2;
    background: #698467;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222;
    color: #edf3f2;
}

.main-logo-link {
    width: fit-content;
}

/* Navbar */
.navigation {
    background-color: #698467;
}

.nav2 {
    background-color: #edf3f2;
}

a.nav-link {
    color: #edf3f2;
}

/* from Bulma - to style fontawesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Message and Toasts Styling */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Products Page */
.background {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #edf3f2;
	z-index: -1;
}

a.categoty-tag > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.category-tag > span.badge {
    color: #698467;
}

.scroll-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fa-arrow-up {
    color: #698467;
}

a.scroll-link{
    text-decoration: none;
}

.scroll-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Shopping Cart*/
.shopping-btn, 
.cart-btn {
    background: #698467;
    color: #edf3f2;
    margin: 5px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Product Card */
.card {
    height: 360px!;
    width: 360px!;
}

/* Footer */
.foot-bg {
    background-color: #edf3f2;
    color: #698467;
}

/* Media Queries */
/* Container on xl desktop screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Fixed top navbar on medium and larger */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}