{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center h-100">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Our Products</h2>
        <hr class="w-50 mb-1 mx-auto">
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=rare" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}rubyball.jpg" alt="Rare category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Rare</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=cool_climates" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}sedum_spurium.jpg" alt="Cool Climates category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Cool Climates</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=warm_climates" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}trailing_jade.jpeg" alt="Warm Climates category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Warm Climates </h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=short" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}drawf.jpg" alt="Short category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Short</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=taller" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}eves.jpg" alt="Tall category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Tall</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 px-5 mb-5">
            <a href="{% url 'products' %}?category=flowering" class="text-decoration-none hvr-shrink">
                <img class="cat-img img-fluid rounded-top" src="{{ MEDIA_URL }}narvaecensis.jpg" alt="Flowering category image">
                <h4 class="product-button btn btn-lg rounded-bottom py-1">Flowering</h4>
            </a>
        </div>
    </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col text-center mt-3">
            <hr class="w-50 mb-1 mx-auto">
            <p class=" mt-3 text-center text-md-left">If you can't decide then shop for your new favourites here!</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}