{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Error 404 Page -->
<section class="container d-flex justify-content-center mt-4">
    <div class="card text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 border error-border">
                    <h1>404</h1>
                    <h2>Opps!</h2>
                    <h2>Page Not Found</h2>
                    <a class="btn user-btn mb4 mt-4" href="{% url 'store' %}" aria-label="Return to Home Page">Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}