<div class="collapse navbar-collapse nav2" id="main-nav">
    <ul class="navbar-nav nav-pills w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indoor Succulents
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=flowering" class="dropdown-item">Flowering</a>
                <a href="{% url 'products' %}?category=short" class="dropdown-item">Short</a>
                <a href="{% url 'products' %}?category=short,flowering" class="dropdown-item">All Indoor Succulents</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoor Succulents
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=taller" class="dropdown-item">Tall</a>
                <a href="{% url 'products' %}?category=warm_climates" class="dropdown-item">Warm Climates</a>
                <a href="{% url 'products' %}?category=cool_climates" class="dropdown-item">Cool Climates</a>
                <a href="{% url 'products' %}?category=taller,cool_climates,warm_climates" class="dropdown-item">All Outdoor Cacti</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extras
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=multi" class="dropdown-item">Multipacks</a>
                <a href="{% url 'products' %}?category=rare" class="dropdown-item">Rare</a>
                <a href="{% url 'products' %}?category=multi,rare" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
    </ul>
</div>