{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block inner_content %}

<div class="container">
  <div class="row">
    <div class="offset-md-2">
      <hr>
      <h2 class="logo-font">{% trans "Sign Out" %}</h2>
      <hr>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn-danger rounded-0">{% trans 'Sign Out' %}</button>
        <a class="btn btn-auth rounded-0" href="{% url 'store' %}">Home</a>
      </form>
    </div>
  </div>
  <div class="row pt-5"></div>
</div>

{% endblock %}