{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="about-heading my-3"><i class="fa-light fa-cactus"></i> About Us
        <i class="fa-light fa-cactus"></i></h1>
</div>
<div class="container-fluid col-md-8 d-md-block my-3 about-body card mt-5">
    <div class="row about card-body">
        <div class="row">
            <h5> <strong>Forevergreen cacti</strong> is an online store for those looking to grow
                or start their cacti collection. All cacti and succulents found on this store have been grown from seed
                with love.
            </h5>
        </div>
        <div class="row">
            <h5>
                By <a style="color:#698467" href="{% url 'account_login' %}"> logging</a> into <strong>Forevergreen
                    Cacti</strong>
                you can take advantage of user benefits such as creating a User Profile, view your Shopping Cart, and
                view
                your purchasing history!
                </h5>
        </div>
        <div class="row">
            <h5> <strong>Forevergreen cacti</strong> products are ideal for gifts, bringing
                your interior and exterior design ideas to the next level and can add a unique element to your home. Another benefit
                 to having cacti in your home is that all forms of cacti are considered to be among the best plants at reducing 
                the levels of bacteria and radiation in their surroundings. Carbon dioxide is absorbed by the cacti and succulents
                 and converted to oxygen. This is why we strive to grow and propagate only high quality cacti and succulents. 
            </h5>
        </div>
        <div class="row">
            <h6>Top Tips:</h6>
            <ul class="tips">
                <li> <i class="fa-solid fa-cactus"></i>
                    To navigate this site please use the home button.
                </li>
                <li> <i class="fa-solid fa-cactus"></i>
                    The search box can be used to source your next new buy.
                </li>
                <li> <i class="fa-solid fa-cactus"></i>
                    The site can be filtered to narrow your search.
                </li>
                <li> <i class="fa-solid fa-cactus"></i>
                    All purchases are secure!
                </li>
            </ul>
        </div>
    </div>
</div>

{%endblock%}