{%  extends "base.html"  %}
{%  load crispy_forms_tags  %}
{%  block content  %}

<main>
    <!-- Review Form to Update -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <form method="POST">
                    {%  csrf_token  %}
                    <fieldset class="review-form">
                        <legend class="mb-4">
                            <h1>Update Your Review</h1>
                        </legend>
                        {{  form | crispy  }}
                    </fieldset>
                    <div class="review-form d-flex justify-content-center">
                        <button class="btn shopping-btn btn-lg mt-4 mb-5" type="submit">Update Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{%  endblock content  %}